{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Register</h1>
                    </div>
                    <div class="card-body">
                        {{ form_errors(registrationForm) }}

                        {{ form_start(registrationForm) }}
                            <div class="form-group">
                            {{ form_row(registrationForm.firstName, {
                                'label': 'firstname',
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'firstname'
                                }
                            }) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(registrationForm.lastName, {
                                'label': 'lastname',
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'lastname'
                                }
                            }) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(registrationForm.email, {
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'Email Address'
                                }
                            }) }}
                        <div class="form-group">
                            {{ form_row(registrationForm.plainPassword, {
                                'label': 'Password',
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'Password'
                                }
                            }) }}
                        </div>
        <div class="form-group">
            {{ form_row(registrationForm.repeatPassword, {
                'label': 'Repeat Password',
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'Repeat Password'
                }
            }) }}
        </div>
                    
                        <div class="form-group">
                            {{ form_row(registrationForm.phone, {
                                'label': 'phone',
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'phone'
                                }
                            }) }}
                        <div class="form-group">
                            {{ form_row(registrationForm.address, {
                                'label': 'address',
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'address'
                                }
                            }) }}
                            
                        </div>
                        </div>
                        <div class="form-group">
                            {{ form_row(registrationForm.title, {
                                'label': 'title',
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'title'
                                }
                            }) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(registrationForm.userPhoto, {
                                'label': 'userPhoto',
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'userPhoto'
                                }
                            }) }}
                        </div>
                        {# <div class="form-group form-check">
                            {{ form_row(registrationForm.agreeTerms, {
                                'label_attr': {
                                    'class': 'form-check-label'
                                },
                                'attr': {
                                    'class': 'form-check-input'
                                }
                            }) }}
                            
                        </div> #}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
